:host {
    --logo-fill-primary: #1f242b;
    --logo-fill-secondary: #566176;

    display: block;

    svg {
        display: block;
        pointer-events: none;

        .shape {
            fill: var(--logo-fill-primary);
        }

        .stripe {
            fill: var(--logo-fill-secondary);
        }

    }
}

:host-context([data-theme='dark']) {
    --logo-fill-primary: #f5efe7;
    --logo-fill-secondary: #cbc2b8;
}
